.container {
  padding: 10px 15px;
}
.skyblue {
  background-color: white;
}

.carousel-indicators {
  bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

.carousel-item {
  min-height: 350px;
  height: 100%;
  width: 100%;
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
  background-color: white;
}
.carousel-caption h3 {
  padding: 0.5em;
}
.carousel .icon-container {
  display: inline-block;
  font-size: 25px;
  line-height: 25px;
  padding: 1em;
  text-align: center;
  border-radius: 50%;
}

/* Animation dduration   */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

/* Animation delays */
.carousel-caption h3:first-child {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
/* to slow speed of carosel   */
/* .carousel-inner > .item {
  -webkit-transition: -webkit-transform 1.2s ease-in-out !important;
  -o-transition: -o-transform 1.2s ease-in-out !important;
  transition: transform 1.2s ease-in-out !important;
} */

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}
h3 {
  color: black;
}
h2 {
  color: black;
}
/* slider buttons black  */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid white;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: rgba(223, 204, 204, 0.452);
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: rgba(223, 204, 204, 0.452);
}

.explore {
  text-align: left;
  color: rgba(255, 166, 0, 0.986);
}
.pause {
  text-align: left;
  color: blue;
}

.relax {
  text-align: left;
  color: green;
}
.orange {
  color: orange;
}
